.sign-upform {
  padding: 20px;
}

.content {
  width: 100vw;
  height: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../res/images/background.jpg);
  background-size: cover;
}
.register-content {
  position: relative;
  width: 600px;
  height: 900px;
  background-color: #432818;
  border-radius: 30px;
  padding: 0 100px;
}
.register-form {
  width: 300px;
  height: 100%;
  display: inline;
  flex-direction: column;
  align-items: center;
}
p,
h1 {
  color: #fff;
}
.avatar {
  border-radius: 30%;
  height: 150px;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.avatar-image {
  border-radius: 50%;
  width: 40%;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .content {
    background: url(../res/images/background.jpg) center;
  }
  .register-content {
    background-color: transparent;
  }
  .register-form {
    position: initial;
    margin: -40px auto;
    background-color: transparent;
  }
}
